@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.landing-container {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(135, 207, 235, 0.575), rgba(255, 184, 255, 0.61));
    color: white;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    height: 75px;
    margin-right: 10px;
    transition: transform 0.8s ease-out;
    transform: scaleY(0);
    transform-origin: bottom;
    animation: increaseInImage 0.8s ease-out 0.1s forwards;
}

.navbar-left img.loaded {
    transform: scaleY(1);
}

@keyframes increaseInImage {
    to {
        transform: scaleY(1);
    }
}

.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    font-weight: bolder;
    background: linear-gradient(to right, rgb(155, 155, 231), rgb(156, 111, 156));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(-8deg);
}

.navbar-middle {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-link:hover {
    color: #ffffff;
    transform: translateY(-2px);
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-button {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    transition: border 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, transform 0.2s ease-in-out;
    margin-right: 1rem;
}

.nav-button:hover {
    border: 1px solid d7c2ffda;
    box-shadow: 0 0 10px #ffffff;
    background: linear-gradient(to right, rgba(123, 235, 243, 0.37), rgba(168, 137, 230, 0.226));
    transform: scale(1.05);
}

.home,
.services-container,
.about-us-container,
.pets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
    box-sizing: border-box;
}

.home {
    flex-direction: row;
}

.home-content {
    max-width: 50%;
    padding-right: 20px;
    text-align: left;
}

.home h1 {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 4.5rem;
    text-align: left;
    margin-bottom: 20px;
    opacity: 1;
    transform: translateY(20px);
}

.home p {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(158, 212, 255, 0.781);
}

.home-button {
    width: 25%;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.2em;
    background: linear-gradient(to left, rgb(123, 235, 243), rgb(168, 137, 230));
    color: white;
    border: none;
    transition: background 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease 0.4s, transform 0.5s ease 0.4s;
}

.home-button.show {
    opacity: 1;
    transform: translateY(0);
}

.home-image {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
        padding-right: 0;
    }

    .home-image {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-middle,
    .navbar-right {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-link {
        margin: 5px 5px;
    }

}

.services-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    width: 250px;
    height: 50%;
    padding: 20px;
    border: 1px solid #cfebf3;
    border-radius: 8px;
    margin: 20px;
    background-color: #ffffff25;
    box-shadow: 5px 2px 4px rgb(255, 255, 255);
}

.service-icon img {
    height: 50%;
    width: 50%;
}

.service-card h3 {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
}

.service-card p {
    padding-top: 1rem;
    text-align: center;
}

#about {
    font-family: 'Quicksand', sans-serif;
    padding: 250px 80px 10px 10px;
    background: transparent;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

#about-gif {
    margin-right: 30px;
}

#about-gif img {
    max-width: 100%;
    height: auto;
}

#about-text {
    flex: 1;
}

#about h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 15px;
    color: #ffffff;
}

#about p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 25px;
}

#adopt-button {
    color: #ffffff;
    padding: 12px 20px;
    background-color: #c78cd344;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#adopt-button:hover {
    background-color: #3f6caf80;
}

@media (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: center;
    }

    #about-gif {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.pets-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.pets-container h1{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: -150px;
    color: #8f1a1a;
}
.pet-card {
    width: 300px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 23px 8px 16px rgba(241, 153, 153, 0.2);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 12px 20px rgba(255, 255, 255, 0.671);
}

.pet-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pet-card-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet-card-content h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.pet-card-content p {
    margin-bottom: 20px;
    color: #666;
    line-height: 1.6;
}

.pet-card-content button {
    background-color: #ffffff;
    color: rgb(255, 92, 92);
    border: #e05757 1px solid;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pet-card-content button:hover {
    color: #8f1a1a;
    background-color: #ffffffb0;
    border: #8f1a1a 1px dashed;
    transform: scale(1.05);
}