body,
html {
  color: #6a1b9a;
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
}

.grooming-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: auto;
  height: fit-content;
  gap: 2rem;
  width: auto;
}

.user-info {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.user-info p {
  margin-top: 2rem;
  font-size: large;
  font-weight: bold;
  color: #4a148c;
}

.user-info a {
  font-size: medium;
  font-weight: 500;
  color: #7b1fa2;
  margin-bottom: 10px;
}

.left-panel {
  flex: 1;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 15px;
  border: 3px dashed #ba68c8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.right-panel {
  flex: 2;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem 3rem;
  border-radius: 20px;
  border: 3px dashed #c6a4e7;
  box-shadow: 0 8px 20px rgba(130, 100, 180, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: auto;
}

.grooming-header h1 {
  font-size: 2rem;
  color: #7b1fa2;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.appointment-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 6px;
  color: #6a1b9a;
}

input,
select,
textarea {
  font-family: inherit;
  padding: 10px 14px;
  border: 2px dashed #d8b2e8;
  border-radius: 10px;
  background: #fff0ff;
  font-size: 0.95rem;
  color: #4a148c;
  outline: none;
  transition: all 0.3s ease;
  width: 100%; 
}

input:focus,
select:focus,
textarea:focus {
  border-color: #ba68c8;
  background-color: #fbeaff;
}

.submit-button {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background-color: #9a57a781;
  border: 2px dashed #976ebb;
  border-radius: 50px;
  cursor: pointer;
  width: 50%;
  height: fit-content;
  padding: 20px 14px;
  margin-top: 3rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  display: block;
  margin-right: auto;
  margin-left: 400px;
}

.submit-button:hover {
  background-color: #4c186d71;
  border: 1.5px dashed #5d3381;
  box-shadow: 0 4px 10px rgba(238, 186, 238, 0.952);
  transform: translateY(-2px);
}

.Back {
  margin-top: 2rem;
  margin-left: 2rem;
}

.Back img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.Back img:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 1024px) {
  .grooming-container {
    flex-direction: column;
    padding: 2rem;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    max-width: none;
    margin-bottom: 2rem;
  }

  .submit-button {
    margin-left: 0;
    justify-self: center;
  }
}
