body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145deg, #f3e8ff, #e9d5ff);
  }
  
  .MainBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .MainHeader {
    padding: 1rem 2rem;
    border-bottom: 2px dashed #a855f7; 
    background: linear-gradient(to right, #d8b4fe, #f5d0fe);
    color: white;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Brand {
    font-weight: 700;
    font-size: 2.2rem;
    color: #9333ea;
    letter-spacing: 1px;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .content-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
  }
  
  .view-more-link {
    font-weight: 500;
    text-decoration: none;
    color: #9333ea;
    border: 2px dashed #a855f7;
    background-color: #ffffff;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    margin: 1rem auto;
    text-align: center;
  }
  
  .view-more-link:hover {
    background-color: #eee1eec0;
    color: #6b21a8;
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(147, 51, 234, 0.2);
  }

  .pet-card {
    border: 2px dashed #c084fc;
    border-radius: 16px;
    align-items: center;
    display: flex;
    width: auto;
    height: fit-content;  
  }
  
    .no-pets-message {
    color: #6b21a8;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  